* {
    margin: 0;
    padding:0;
}
body {
    min-height: 100%;

}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color:inherit;
}
.flex {
    display: flex;
}

.flex-inline {
    display: inline-flex;
}

.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justifyContent-center {
    justify-content: center;
}
.justifyContent-start {
    justify-content: flex-start;
}

.alignItems-center {
    align-items: center;
}
.justifyContent-space-around {
    justify-content: space-around;
}