.exclusive {
    margin-top: 120px;
}
.exclusive-container {
    display: flex;
    max-height: 700px;
    max-width: 1200px;

}
.product-redchair {
    background-image: url("../img/exclusive/promo-img1.png");
    width: 50%;
    height: 700px;
    background-size: contain;
    background-repeat: no-repeat;

}
.product-chair {
    background-image: url("../img/exclusive/promo-img.png");
    width: 50%;
   height: 700px;
    background-size: contain;
    background-repeat: no-repeat;
}
.headerCTA-featured {
    max-width: 600px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 52px;
}
.text-exclusive-header {
    width: 115px;
    height: 28px;
    color: #1e88e5;;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    /* Text style for "exclusive" */
    letter-spacing: 1.8px;
}
.text-exclusive-name {
    width: 200px;
    height: 14px;
    color: #212121;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
}
.text-excluscive-main {
    width: 374px;
    height: 65px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 20.04px;
}