.header {
    display: flex;
    background-color: #f0f0f0;
    justify-content: space-between;
    min-width: 1200px;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    padding-right: 127px;

}
.navItem {
    padding-left: 20px;


}
.navItem-link {
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat;
}
.headerLogo {
    padding-top: 63px;
    padding-left: 98px;
}
.active {
    border-bottom: 3px solid black;
}
.longheader {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}
.text-products {
    padding-left: 98px;
    padding-bottom: 44px;
    /* Style for "Our Produc" */
    width: 575px;
    height: 58px;
    color: #212121;
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 100;
    line-height: 72px;
}