.trending {
    background-color: #ffffff;
    max-width: 1200px;
    padding-bottom: 120px;
}
.trending-container {
    display:flex;
    flex-direction: column;
    max-width: 1200px;
}
.productsItem-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.trending-headers {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}
.productsItems {
    width: 370px;
   height: 370px;
    padding-left: 20px;
    padding-bottom: 30px;

}
#product-first {
    background-image: url("../img/product-11.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    }
#product-second {
    background-image: url("../img/product-21.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#product-third {
    background-image: url("../img/product-31.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#product-fourth {
    background-image: url("../img/product-41.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#product-fifth {
    background-image: url("../img/product-5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#product-sixth {
    background-image: url("../img/product-6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.trending-headers-text {
    display: flex;
    justify-content: space-between;
    width: 350px;
    color: #212121;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}