.trending {
    background-color: #ffffff;
}
.trending-container {
    display:flex;
    flex-direction: column;
}
.productsItem-line {
    display: flex;
    flex-wrap: wrap;
}
.trending-headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}